body{
	/*background-color:#222222;*/
	background-repeat: repeat;
	max-height: 100%;
	max-width: 100%;
	margin-left: 15px; 
	margin-right: 15px;
	/*border:5px solid black;
	border:5px solid black;*/
	background-image: url("bg.jpg");

}
